@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>       
        <link rel="stylesheet" href="~/css/Home.css" />
        <link rel="stylesheet" href="~/css/LUX.css" />

   

    </head>
    <body>
  
      <div>
         <div class="wave"></div>
         <div class="wave"></div>     
         <div class="wave"></div>

      </div>

    </body>
</html>


