@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">leon y diego pongan algo chevereXD</h1>
    <div class="alert alert-primary">
        <h1>Algo bonito en construccion</h1>
    </div>
    
</div>
