@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/Privacy.css" />
        <link rel="stylesheet" href="~/css/LUX.css" />
   

    </head>
    <body>

      <Center>
         
          <center><h2 class="accessDenied">ACCESO DENEGADO</h2></center>


      </Center>
      
        

    </body>


</html>

