@model IEnumerable<NominaMVC.Models.Pago>
@{
    ViewData["Title"] = "ReporteE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-2">Reportes de Empleado</h2>
<div class="bg-light">
    <div class="container">
        <div class="container-fluid">
            <!--STATS CARD CONTAINER-->
            <div class="row">
                <!--STATS CARD 1-->
                <div class="col-xl-4 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-person-fill"></i>
                                        Role
                                    </h5>
                                    <span class="font-weight-bold mb-0">Sales</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--STATS CARD 2-->
                <div class="col-xl-4 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-clock-history"></i>
                                        Social Security contributions
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">200.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--STATS CARD 3-->
                <div class="col-xl-4 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-cash-coin"></i>
                                        Total Salary
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">25.000.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAYMENTS INFO-->
        <div class="row mt-3">
            <div class="col-12">            
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>ID Empleado</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.oPersona.IdPersona)</td>
                            <td>@Html.DisplayFor(modelItem => item.oPersona.Nombre)</td>
                            <td>$ @Html.DisplayFor(modelItem => item.MontoPago)</td>
                            <td>
                                <a asp-action="Historial">Historial 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>     
                </table>
            </div>
        </div>
    </div>
</div>

