@model IEnumerable<NominaMVC.Models.Pago>
@{
    ViewData["Title"] = "ReporteA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mb-2">Reportes de Empleado</h2>
<div class="bg-light">
    <div class="container">
        <div class="container-fluid">
            <!--STATS CARD CONTAINER-->
            <div class="row">
                <!--STATS CARD 1-->
                <div class="col-xl-4 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-person-fill"></i>
                                        Role
                                    </h5>
                                    <span class="font-weight-bold mb-0">Sales</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--STATS CARD 2-->
                <div class="col-xl-4 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-clock-history"></i>
                                        Social Security contributions
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">200.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--STATS CARD 3-->
                <div class="col-xl-4 col-lg-6">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        <i class="bi bi-cash-coin"></i>
                                        Total Salary
                                    </h5>
                                    <span class="h2 font-weight-bold mb-0">25.000.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAYMENTS INFO-->
        <div class="row mt-3">
            <div class="col-12">            
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>ID Empleado</th>
                            <th>Nombre</th>
                            <th>Monto</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.oPersona.IdPersona)</td>
                            <td>@Html.DisplayFor(modelItem => item.oPersona.Nombre)</td>
                            <td>$ @Html.DisplayFor(modelItem => item.MontoPago)</td>
                            <td>
                                <a asp-action="Details">Historial
                                    <i class="bi bi-file-earmark-text"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>     
                </table>
            </div>
        </div>
    </div>
</div>

